section {
  padding: 7rem 0;
  &:nth-child(even) {
    background-color: $color__section-even;
  }
  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.full-width {
  max-width: 100vw;
}

.small-width {
  max-width: 800px;
}

.grayscale-hover {
  &:hover {
    img {
      filter: grayscale(100);
      transition: filter 1s ease;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.primary-button {
  display: inline-block;
  margin: 0 1rem 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border: 1px solid $color__link;
  transition: background 1s ease, border 1s ease, color;
  &:hover {
    background: $color__link;
  }
}
