ul.what-i-do {
  @include tablet {
    display: flex;
  }
  li {
    width: 100%;
    padding: 1rem;
  }
  .image-wrapper {
    border-radius: 100%;
    overflow: hidden;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.contact {
  .social-icons {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: space-between;
    }
    svg {
      width: 1.5rem;
      height: auto;
    }
  }
}
