header {
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background: transparent;
  transition: height 1s ease, background 1s ease;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  svg {
    width: 2rem;
    height: auto;
    fill: #b3b3b3;
  }
}

.nav-inverse {
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  a {
    color: $color__link;
    &:hover {
      color: $color__link-hover;
    }
  }
}

.primary-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding-top: 3rem;
  transform: translateY(-100%);
  transition: all 1s ease;
  li {
    width: 100%;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.expanded {
  transform: translateY(0);
}
