.hero {
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  @include tablet {
    background-size: cover;
    height: 400px;
  }
  @include desktop {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
  p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }
}
