.technology {
  li {
    display: inline-block;
    white-space: nowrap;
    margin: 0.5rem;
    a {
      color: $color__text-main;
      transition: color 1s ease;
      background: $color__link;
      padding: 0.2rem 1rem;
      border-radius: 20px;
      transition: all 1s ease;
      &:hover {
        background: $color__link-hover;
        color: $color__link;
      }
    }
  }
}
