.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 40px;
  }
}

.technology {
  li {
    display: inline-block;
    white-space: nowrap;
    margin: 0.5rem;
    a {
      color: $color__text-main;
      transition: color 1s ease;
      background: $color__link;
      padding: 0.2rem 1rem;
      border-radius: 20px;
      transition: all 1s ease;
      &:hover {
        background: $color__link-hover;
        color: $color__link;
      }
    }
  }
}

.project-pagination {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
